html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map {
    height: 650px;
  }
}
a:visited{color: white }
a:hover{color: white}