
<div class="container sections-wrapper" style="padding-top: 30px !important;">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>{{ ABOUTME }}</p>

                        </div><!--//content-->

                        </div>
                        </section>
                        <section class="github section">

	 						<div class="section-inner calendar" style="width:100%!important;">
								<script
		                              src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"
		                            ></script>

		                            <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
		                            <link
		                              rel="stylesheet"
		                              href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"
		                            />
		                            <script>
		                                GitHubCalendar(".calendar", "theriley106",{ responsive: true });
                                        document.getElementsByClassName("js-calendar-graph-svg")[0].setAttribute("style", "width:100%");
		                            </script>
	                    </section>
                        </div>



                <div class="section col-md-4 col-sm-12 col-xs-12">

            		<section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Tesla<span class="place"><br><a href="#">Software Engineering Intern</a></span> <br><span class="year" style="font-size:80%;">(Fall 2019)</span></h3>
                                <p></p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Capital One<span class="place"><br><a href="#">Software Engineering Intern</a></span> <br><span class="year" style="font-size:80%;">(Summer 2019)</span></h3>
                                <p>Anti-Money Laundering Team</p>
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="title">NCR Corporation<span class="place"><br><a href="#">Software Engineering Intern</a></span> <br><span class="year" style="font-size:80%;">(Spring 2019)</span></h3>
                                <p>Software Innovation Labs</p>
                            </div><!--//item-->
                             <div class="item">
                                <h3 class="title">Clemson University<span class="place"><br><a href="#">Software Engineering Intern</a></span> <br><span class="year" style="font-size:80%;">(Fall 2018)</span></h3>
                                <p>Alexa Skill Team</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Lending Club<span class="place"><br><a href="#">Software Engineering Intern</a></span> <br><span class="year" style="font-size:80%;">(Summer 2018)</span></h3>
                                <p>Infrastructure & Internal Tools Team</p>
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="title">Tesla<span class="place"><br><a href="#">Software Engineering Intern</a></span> <br><span class="year" style="font-size:80%;">(Summer 2017)</span></h3>
                                <p>Infotainment Automation Team</p>
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                    </section>
</div>


</div>

<style>
svg {
  width: 100%;
}
</style>
