<style>
   .lyft {
   font-size: 22px;
   color: #EA0B8C!important;
   }
   .stripe {
   font-size: 22px;
   color: #4379FF!important;
   }
   .tesla {
   font-size: 22px;
   color: #e82127!important;
   }
   .lyft {
   font-size: 22px;
   color: #EA0B8C!important;
   }
   .capitalone {
   font-size: 22px;
   color: #004879!important;
   }
   .ncr {
   font-size: 22px;
   color: #54b948!important;
   }
   .clemson {
   font-size: 22px;
   color: #F66733!important;
   }
   .lendingclub {
   font-size: 22px;
   color: #7c2e23!important;
   }
   .logoVal {
    padding-top: 10px;
    height:80px;
   }
</style>
<div class="container sections-wrapper" style="padding-top: 30px !important;">
<div class="row">
<div class="col">
   <section class="about section">
      <div class="section-inner">
         <h2 class="heading">About Me</h2>
         <div class="content">
            <p>I'm starting my Sophomore year at <a href="http://columbia.edu/">Columbia University</a> in the fall with a major in Computer Science, and I'm extremely interested in the intersection between Mathematics, Computer Science, and Finance.
<br><br>
            <img width="100%" src="{{ url_for('static',filename='columbia.jpg') }}"></img><br><br>
I'm following the <i>Foundations of Computer Science</i> track at Columbia with a focus on algorithms, computational complexity, and other areas of theoretical computer
science.  
            <br><br>
            In my free time, I like to <a href="https://devpost.com/theriley106">attend hackathons</a> at different schools across the country, and I'm pretty much always working on a personal project of some sort...
<br>
            <div class="calendar" style="width:100%!important;">

         <script
            src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"
            ></script>
         <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
         <link
            rel="stylesheet"
            href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"
            />
         <script>
            GitHubCalendar(".calendar", "theriley106",{ responsive: true });
                  document.getElementsByClassName("js-calendar-graph-svg")[0].setAttribute("style", "width:100%");
         </script>

      </div>
<br>
      Outside of programming, I like <a href="https://www.strava.com/athletes/23523946">running</a> (<i>really slowly</i>), <a href="https://en.wikipedia.org/wiki/Speedcubing">speedcubing</a>, and playing board games with friends.
         </div>
         <!--//content-->
      </div>
   </section>
   
</div>
   <div class="section col-5">
      <section class="experience section">
         <div class="section-inner">
            <h2 class="heading">Work Experience</h2>
            <div class="content">
               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><a href="https://www.lyft.com/" class="lyft">Lyft</a><span class="place"><br><span>Incoming Software Engineering Intern</span></span> <br><span class="year" style="font-size:80%;">(Summer 2020)</span></h3>
                      <p></p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='lyft.png') }}"></img>
                    </div>
                  
               </div>
               <!--//item-->
               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><a class="stripe" href="https://stripe.com/">Stripe</a><span class="place"><br><span>Software Engineering Intern</span></span> <br><span class="year" style="font-size:80%;">(Spring 2020)</span></h3>
                      <p>Merchant Intelligence Team</p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='stripe.png') }}"></img>
                    </div>
                  
               </div>
               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><a href="https://www.tesla.com/" class="tesla">Tesla</a><span class="place"><br><span>Software Engineering Intern</span></span> <br><span class="year" style="font-size:80%;">(Fall 2019)</span></h3>
                  <p>Vehicle Diagnostic Tools</p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='tesla.jpg') }}"></img>
                    </div>
                  
               </div>
               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><a href="https://www.capitalone.com/" class="capitalone">Capital One</a><span class="place"><br><span>Software Engineering Intern</span></span> <br><span class="year" style="font-size:80%;">(Summer 2019)</span></h3>
                  <p>Anti-Money Laundering Team</p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='c1.jpg') }}"></img>
                    </div>
                  
               </div>
               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><a href="https://www.ncr.com/" class="ncr">NCR Corporation</a><span class="place"><br><span>Software Engineering Intern</span></span> <br><span class="year" style="font-size:80%;">(Spring 2019)</span></h3>
                  <p>Software Innovation Labs</p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='ncr.png') }}"></img>
                    </div>
                  
               </div>

               <!--//
               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><span class="clemson">Clemson University</span><span class="place"><br><a href="#">Software Engineering Intern</a></span> <br><span class="year" style="font-size:80%;">(Fall 2018)</span></h3>
                  <p>Alexa Skill Team</p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='clemson.png') }}"></img>
                    </div>
                  
               </div>
                item-->
               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><a href="https://www.lendingclub.com/" class="lendingclub">Lending Club</a><span class="place"><br><span>Software Engineering Intern</span></span> <br><span class="year" style="font-size:80%;">(Summer 2018)</span></h3>
                  <p>Infrastructure & Internal Tools Team</p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='lendingclub.png') }}"></img>
                    </div>
                  
               </div>

               <div class="item row">
                    <div class="col-8">
                         <h3 class="title"><a href="https://www.tesla.com/" class="tesla">Tesla</a><span class="place"><br><span>Software Engineering Intern</span></span> <br><span class="year" style="font-size:80%;">(Summer 2017)</span></h3>
                  <p>Infotainment Automation Team</p>
                    </div>
                    <div class="col-2">
                      <img class="logoVal" src="{{ url_for('static',filename='tesla.jpg') }}"></img>
                    </div>
                  
               </div>
               <!--//item-->
            </div>
            <!--//content-->
         </div>
         <!--//section-inner-->
      </section>
   </div>
</div>
<style>
   svg {
   width: 100%;
   }
</style>