<html>
   <style>
      .center-screen {
      height: 200px;
      width: 400px;
      background: black;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -200px;
      }
   </style>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   </head>
   <body style="background: black;">
      <div class="center-screen">
         <center>
            <h1 style="color:white;font-size:80px;" id="result"><a href="https://news.columbia.edu/news/columbia-president-outlines-plans-safe-return-campus">Kind of...</a></h1>
         </center>
      </div>
   </body>
   <footer class="page-footer font-small blue fixed-bottom">
      <div class="text-center py-3">
         <a href="https://github.com/theriley106/IsColumbiaUniversityOnlineThisFall.com" target="_blank">View on Github</a>
      </div>
   </footer>
</html>