<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


<div class="jumbotron">
  <div class="container text-center">
    <h1>Christopher Lambert</h1>
    <p><a href="#">Resume</a> | <a href="#">LinkedIn</a> | <a href="#">GitHub</a> | <a href="#">Kaggle</a> | <a href="#">Email</a></p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>My Data Visualization Portfolio</h3><br>
  <div class="row">

  {% for info in DATABASE %}

    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">

      <a href='{{ info.Abbrev }}{{ info.Day }}'>{{ info.Month }} {{ info.Day }}</a>
    </div>
{% endfor %}
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
