
<!doctype html>
<html>

<head>
    <title>/r/Nootropics and /r/StackAdvice Sentiment Towards Most-Discussed Nootropics</title>
    <script src="{{ url_for('static',filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils') }}"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div id="container" style="width: 75%;">
        <canvas id="canvas"></canvas>
    </div>
    <script>
        var MONTHS = [{% for info in DATABASE %}"{{ info.Name }}",{% endfor %}];
        var color = Chart.helpers.color;
        var horizontalBarChartData = {
            labels: [{% for info in DATABASE %}"{{ info.Name }}",{% endfor %}],
            datasets: [{
                label: 'Nootropics',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [
                    {% for info in DATABASE %}"{{ info.Nootropics.Sentiment }}",{% endfor %}
                ]
            }, {
                label: 'StackAdvice',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                data: [
                    {% for info in DATABASE %}"{{ info.StackAdvice.Sentiment }}",{% endfor %}
                ]
            }]

        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myHorizontalBar = new Chart(ctx, {
                type: 'horizontalBar',
                data: horizontalBarChartData,
                options: {
                    // Elements options apply to all of the options unless overridden in a dataset
                    // In this case, we are setting the border of each horizontal bar to be 2px wide
                    elements: {
                        rectangle: {
                            borderWidth: 2,
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'Sentiment Towards Most-Discussed Nootropics'
                    }
                }
            });

        };

    </script>
</body>

</html>
