{% include 'navbar.html' %}

<style>
.textVal {
  line-height: 2.5ex;
  height: 7.5ex; /* 2.5ex for each visible line */
}

.headerVal {
  line-height: 2.5ex;
  height: 5ex; /* 2.5ex for each visible line */
}
</style>

<div class="container bg-3 text-center">
  <h3>Other Stuff</h3><br>

  {% for infoList in OTHER %}


  <div class="row">

      {% for info in infoList %}

      <div class="col-md-4">
              <div class="card mb-4 box-shadow h-80">
                <center><img class="card-img-top" style="padding-top:10px;height:100px; width:100px;" src="{{info.image}}" alt=""></center>
                <div class="card-body">
                  <h3>{{info.title}}<br>{{info.hackathon}}</h3>
                  <p class="card-text">{{ info.description }}</p>
                    <div class="btn-group">
                      {% if info.link %}
              <center><a class="btn btn-primary" href="{{info.link}}">View</a></center>
                  {% endif %}
                    </div>
                </div>
              </div>
            </div>

        {% endfor %}

</div>

{% endfor %}
  
</div>
<script>
  var element = document.getElementsByClassName("active");
  for (i=0; i<element.length; i++){
    element[i].classList.remove("active");
  }
  var element = document.getElementById("other");
element.classList.add("active");
</script>

{% include 'footer.html' %}