{% include 'navbar.html' %}

<style>
.textVal {
  line-height: 2.5ex;
  height: 7.5ex; /* 2.5ex for each visible line */
}

.headerVal {
  line-height: 2.5ex;
  height: 5ex; /* 2.5ex for each visible line */
}
</style>

<div class="container bg-3 text-center">
  <h3>Other Stuff</h3><br>

  {% for infoList in OTHER %}


  <div class="row">

      {% for info in infoList %}



        <div class="col-md-4" style='padding-top:25px;'>
          <img class="img-fluid rounded mb-3 mb-md-0" style="height:100px; width:100px;" src="{{ info.image }}" alt="">
          <h3 class="headerVal">{{info.title}}<br>{{info.hackathon}}</h3>
          <p class="textVal">{{ info.description }}</p>
          {% if info.link %}
              <a class="btn btn-primary" href="{{info.link}}">View</a>
          {% endif %}
          
        </div>
        {% endfor %}

</div>

{% endfor %}
  
</div>
<script>
  var element = document.getElementsByClassName("active");
  for (i=0; i<element.length; i++){
    element[i].classList.remove("active");
  }
  var element = document.getElementById("other");
element.classList.add("active");
</script>

{% include 'footer.html' %}