{% include 'navbar.html' %}

<div class="container bg-3 text-center">
  <h3>Other Stuff</h3><br>

  <div class="row">

{% for info in OTHER %}




        <div class="col-md-4" style='padding-top:25px;'>
          <img class="img-fluid rounded mb-3 mb-md-0" style="height:100px; width:100px;" src="{{ info.image }}" alt="">
          <h3>{{info.title}}</h3>
          <p>{{ info.description }}</p>
          {% if info.link %}
              <a class="btn btn-primary" href="{{info.link}}">View</a>
          {% endif %}
          
        </div>


{% endfor %}

  </div>
</div>
<br>
<script>
  var element = document.getElementsByClassName("active");
  for (i=0; i<element.length; i++){
    element[i].classList.remove("active");
  }
  var element = document.getElementById("other");
element.classList.add("active");
</script>

{% include 'footer.html' %}