{% include 'navbar.html' %}

<style>
.personalProject {
  padding-top:20px;
}
.textVal {
  line-height: 2.5ex;
  height: 7.5ex; /* 2.5ex for each visible line */
  overflow: hidden;
}

.headerVal {
  line-height: 2.5ex;
  height: 2.5ex; /* 2.5ex for each visible line */
  overflow: hidden;
}
</style>

<div class="container bg-3 text-center">
  <h3>Some of My Personal Projects</h3><br>

{% for infoz in PERSONAL_PROJECTS %}
  <div class="row">

{% for info in infoz %}

        <div class="col-md-4">
          <img class="personalProject img-fluid rounded mb-3 mb-md-0" style="height:100px; width:100px;" src="{{ info.image }}" alt="">
          <h3 class="headerVal">{{info.title}}</h3>
          <p class="textVal">{{ info.description }}</p>
          {% if info.liveSite %}
              <a class="btn btn-success" href="{{info.liveSiteURL}}">View Live Site</a>
          {% endif %}
          <a class="btn btn-primary" href="{{info.githubLink}}">View Project</a>
        </div>


{% endfor %}

  </div>
  {% endfor %}
</div>
<br>
<script>
  var element = document.getElementsByClassName("active");
  for (i=0; i<element.length; i++){
    element[i].classList.remove("active");
  }
  var element = document.getElementById("personalProjects");
element.classList.add("active");
</script>

{% include 'footer.html' %}
