{% include 'navbar.html' %}

<style>
.personalProject {
  padding-top:20px;
}
.textVal {
  line-height: 2.5ex;
  height: 7.5ex; /* 2.5ex for each visible line */
  overflow: hidden;
}

.headerVal {
  line-height: 2.5ex;
  height: 2.5ex; /* 2.5ex for each visible line */
  overflow: hidden;
}
</style>


<div class="container bg-3 text-center">
  <h3>Some of My Personal Projects</h3><br>

{% for infoz in PERSONAL_PROJECTS %}
  <div class="row">

{% for info in infoz %}


        <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="background-color: #DAE3E7;border: 0px solid rgba(0,0,0,.125);">
                <center><img class="card-img-top" style="padding-top:10px;height:100px; width:100px;" src="{{info.image}}" alt=""></center>
                <div class="card-body">
                  <h3 style="min-height: 30px">{{info.title}}</h3>
                  <p class="card-text" style="min-height: 50px">{{ info.description }}</p>
                    <div class="btn-group">

                  {% if info.liveSite %}
              <center><a class="btn btn-success" href="{{info.liveSiteURL}}">View Live Site</a></center>
          {% endif %}
                    </div>
                </div>
              </div>
            </div>


{% endfor %}

  </div>
  {% endfor %}
</div>
<br>
<script>
  var element = document.getElementsByClassName("active");
  for (i=0; i<element.length; i++){
    element[i].classList.remove("active");
  }
  var element = document.getElementById("personalProjects");
element.classList.add("active");
</script>

{% include 'footer.html' %}
