
<!doctype html>
<html>

<head>
    <title>Companies on CSCareerQuestions</title>
    <script src="{{ url_for('static',filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <canvas id="bar-chart-grouped" width="700" height="350"></canvas>
    <script>

new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: [{% for info in DATABASE %}"{{ info.School }}",{% endfor %}],
      datasets: [
        {
          label: "# of Mentions in /r/CSCareerQuestions",
          fontSize: 20,
          backgroundColor: window.chartColors.blue,
          data: [{% for info in DATABASE %}"{{ info.Mentions }}",{% endfor %}]
        }
      ]
    },

    options: {
      scales: {
    xAxes: [{
        stacked: false,
        beginAtZero: true,
        scaleLabel: {
            labelString: 'Mentions'
        },
        ticks: {
            stepSize: 1,
            fontSize: 18,
            min: 0,
            autoSkip: false
        }
    }],
    yAxes: [
        {
            id: 'y-axis-1',
            display: true,
            position: 'left',
            ticks: {
                callback: function(value, index, values) {
                    return value;
                },
                fontSize: 18,
            },
            scaleLabel:{
                display: true,
                labelString: '# of comments mentioning company',
                fontSize: 20,
                fontColor: window.chartColors.blue
            }
        }
      ]
      },

      title: {
        display: true,
        fontSize: 22,
        text: 'Company Popularity on /r/CSCareerQuestions'
      }
    }
});

</script>
</body>

</html>
